# Bỏ file cấu hình Firebase (tránh lộ API key)
# tạo file mới và paste nội dung vào
firebase-config.json  

# Bỏ thư mục node_modules (tránh push thư viện nặng)
# chạy lệnh npm installinstall
node_modules/  

# Nếu không muốn lock version package (tùy chọn)
package-lock.json  
